<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/agenda.html %} 
    {% include 2017_data/speakers.html %}
    {% include 2017_data/location.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    <a href="#page-top" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
    </a>
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
